!!! 5
%html{lang: 'zh-CN'}
  %head
    %title 狗鸭笔记 - 首页
    = haml :head_part
  %body
    .root.index#wrapper
      = haml :header
      #container
        %br/
        -#mdlist
        .head.big.sub{style: 'display: none;'}
      = haml :footer