!!! 5
%html{lang: 'zh-CN'}
  %head
    %title Result Page
    = haml :head_part
  %body
    .query#wrapper
      = haml :header
      #container
        .head.big.sub{style: 'display: none;'}
      #loading 没有查询到结果，或正在查询中...
      = haml :footer