<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>文章页面</title>
    {% include 'head_part.html' %}
    <link rel="stylesheet" href="/static_files/css/styles.css">
</head>
<body>
<div id="wrapper" class="mdtemp">
    {% include 'header.html' %}
    <div id="container">
        <div>{{ stdin | safe }}</div>
        <div class="head big sub" style="display: none;"></div>
        <!--        Modified from wymcloud.cn-->
        <div class="licensing-box">
            <div class="licensing-title"><p>Title</p>
                <p><a href="https://[::1]:5000/">https://[::1]:5000/</a></p>
            </div>
            <div>
                <div class="level-item">
                    <div><h6>发布于</h6>
                        <p>Created Time</p></div>
                </div>
                <div class="level-item">
                    <div><h6>更新于</h6>
                        <p>Modified Time</p></div>
                </div>
                <div class="level-item">
                    <div>
                        <h6>许可协议</h6>
                        <p>
                            <a target="_blank" title="CC BY-NC-SA 3.0 CN"
                               href="https://creativecommons.org/licenses/by-nc-sa/3.0/cn/">
                                <i class="fa-lg fab fa-creative-commons"></i>
                                <i class="fa-lg fab fa-creative-commons-by"></i>
                                <i class="fa-lg fab fa-creative-commons-nc"></i>
                                <i class="fa-lg fab fa-creative-commons-sa"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="licensing-after" id="la-1">&#xf25e;&#xf4e7;&#xf4e8;&#xf4ef;</div>
            <div class="licensing-after" id="la-2">&#xf25e;</div>
        </div>
    </div>
    {% include 'footer.html' %}
</div>
</body>
</html>